.name-container {
    display: flex;
    justify-content: space-between;
}

.name {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.img--rotate {
    position: relative;
    width: 100px;
    height: 135px;
    transform: rotate(-15deg);
    background-color: #C4C4C4;
    overflow: hidden;
    margin-right: 30px;
    box-shadow: 3px 3px 0px 1px #83C1FA;
}

.name__img {
    position: absolute;
    top: -14px;
    left: -23px;
    width: 141px;
    transform: rotate(15deg);
}
