.text-container {
    margin-top: 40px;
}

.text {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.text__img {
    width: 345px;
    height: 232px;
    margin-top: 40px;
}