@font-face {
    font-family: 'Bebas Neue', sans-serif;
    src: url('../font/bebasneueregular.woff') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Bebas Neue', sans-serif;
    src: url('../font/bebasneuebold.woff') format('truetype');
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: 'SF Pro Display', sans-serif;
    src: url('../font/SFProDisplay-Regular.woff') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'SF Pro Display', sans-serif;
    src: url('../font/SFProDisplay-Medium.woff') format('truetype');
    font-style: normal;
    font-weight: 500;
}